.vscode
*.DS_Store
*.ipynb_checkpoints
*__pycache__
*.env
*resources.json
*.xlsx
*.slides.html
*archive/
*wandb/
mongo-data/
nlu/consent/code_L1__v2
nlu/consent/code_L2C__v2
nlu/intents/models/clair_intents_v1
nlu/intents/models/code_L3C_v1
nlu/intents/models/code_L3P_v1
nlu/intents/models/code_L3V_v1
nlu/intents/models/code_L3E_v1
nlu/intents/models/code_L4_Enzymes_v1
nlu/intents/models/code_L4_Genetics_v1
experimental
results
history.txt